<div class="toolbar">
  <a routerLink="/home"><img src="./assets/home-circle.png" /> Home</a>
  <a routerLink="/docs"><img src="./assets/about-circle.png" /> Docs</a>
  <a routerLink="/slides"><img src="./assets/slides-circle.png" /> Slides</a>
  <a routerLink="/apis"><img src="./assets/github-circle.png" /> APIs</a>
  <a routerLink="/projects"><img src="./assets/visual-studio.png" /> Projects</a>
  <button class="fab" (click)="dialog.show($event)" #button>+</button>
</div>

<!--<div class="page" [@routerAnimations]="prepareRouteTransition(outlet)">
  <router-outlet #outlet="outlet"></router-outlet>
</div>-->

<router-outlet #outlet="outlet"></router-outlet>

<docs-dialog #dialog></docs-dialog>
