<mat-grid-list cols="2" rowHeight="2:1">
  <mat-grid-tile>
    <a routerLink="/docs">
      <span class="section">Docs</span>
    </a>
  </mat-grid-tile>
  <mat-grid-tile>
    <a routerLink="/slides">
      <span class="section">Slides</span>
    </a>
  </mat-grid-tile>
  <mat-grid-tile>
    <a routerLink="/apis">
      <span class="section">APIs</span>
    </a>
  </mat-grid-tile>
  <mat-grid-tile>
    <a routerLink="/projects">
      <span class="section">Projects</span>
    </a>
  </mat-grid-tile>
</mat-grid-list>